
/*
html, h1 {
	background-color: #222;
	color: white;
}
canvas, img {
	background-color: white;
}

a {color: white;}
*/



#content {
	max-width: 500px;
	margin: 20px auto;
}

#header {
	max-width: 650px;
	margin: 30px auto;
}

body, input {
	font-family: 'Unkempt', sans-serif;
	font-size: large;
}

a { text-decoration: none; }
form { display: inline; }

#header { width: 100%; overflow: auto; }
#header #topmenu {
	margin-top: 25px;
	margin-right: 80px;
	float: right;
	padding: 1px;

}
#header #heading { float: left; padding: 1px; }
#header #heading h1 { display: inline; }
#header #heading a, #heading a:visited { color: black; }
#header #heading img {
	border: none;
	vertical-align: -15px;
	background-color: transparent;
}

a:hover {color: green;}

img, #draw-canvas { border: 1px solid #000; }

#container, #thumb-grid { margin: 15px; margin-bottom: 0px;}

.thumb {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 140px;
	height: auto;
}

#bottom-nav { overflow: auto; padding: 5px;}

.buttons { margin-top: 20px; margin-right: 20px;}

.success { color: green; }
.error { color: red; }
.left { float: left; }
.right { float: right; }


