
#content {
	width: 96%;
	max-width: 500px;
	margin: 20px auto;
}

#header {
	width: 96%;
	max-width: 650px;
	margin: 30px auto;
}


body {
	font-family: 'Unkempt', sans-serif;
	font-size: large;
}

a { text-decoration: none; }
form { display: inline; }

#header { width: 100%; overflow: auto; }
#header #topmenu {
	margin-top: 25px;
	margin-right: 80px;
	float: right;
	padding: 1px;

}
#header #heading { float: left; padding: 1px; }
#header #heading h1 { display: inline; }
#header #heading a, #heading a:visited { color: black; }
#header #heading img {
	border: none;
	vertical-align: -15px;
	background-color: transparent;
}

a:hover {color: green;}

img, #draw-canvas { border: 1px solid #000; }

#container, #thumb-grid { margin: 15px;}

.thumb {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 140px;
	height: auto;
}

#bottom-stuff, #top-stuff {
	/*border: 1px solid black;
	 * */
	overflow: hidden;
	width: 100%;
	padding: 5px;
}
#top-stuff ul {
	margin-top: 0px;
}

.buttons { margin-right: 25px; }

.success { color: green; }
.error { color: red; }
.left { float: left; }
.right { float: right; }


/*
input {
  font-size: small;
}
*/
