
body {
	max-width: 500px;
	margin: 50px auto;
	font-family: 'Unkempt', sans-serif;
}

a {
	text-decoration: none;
}

#header table {
	width: 100%;
}

#topmenu {
	vertical-align: middle;
	text-align: right;
}

#content {
	clear: both;
}

#draw-canvas, .drawing {
	border: 1px solid black;
	margin: 10px 5px 5px 10px;
}

.resize {
	height: auto;
	width: 100px;
}

.success {
	/*background-color; inherit;*/
	color: green;
}

.error {
	/*background-color; inherit;*/
	color: red;
}

/*
img.drawing {
	border: 1px solid black;
	margin: 20px;
}
*/

#buttons {
	margin-left: 40px
}

form {
	display: inline;
}
