
body {
	max-width: 500px;
	margin: 50px auto;
	font-family: 'Unkempt', sans-serif;
}

#draw-canvas, img.drawing {
	border: 1px solid black;
	margin: 20px;
}

.success {
	/*background-color; inherit;*/
	color: green;
}

.error {
	/*background-color; inherit;*/
	color: red;
}

/*
img.drawing {
	border: 1px solid black;
	margin: 20px;
}
*/

#buttons {
	margin-left: 40px
}

form {
	display: inline;
}
