
body {
	max-width: 500px;
	margin: 10px auto;
	margin-top: 50px;
	font-family: 'Unkempt';
}

#draw-canvas, img.drawing {
	border: 1px solid black;
	margin: 20px;
}

/*
img.drawing {
	border: 1px solid black;
	margin: 20px;
}
*/

#info {
	display: none;
	margin: 20px;
	border: 1px solid gray;
	color: green;
	width: 400px;
}

#buttons {
	margin-left: 40px
}

.error {
	color: red;
}

form {
	display: inline;
}
