{% extends "base.html" %}

{% block navigation %}
            <a href="/"> new </a> | 
            <a href="/browse/"> browse </a> | 
            <strong> about </strong>
{% endblock %}

{% block content %}

<div>
	<ul>
	<li><strong>sketch</strong> is powered by <a href="http://www.djangoproject.com">django.</a></li>
	<li>requires javascript and HTML5 canvas support.</li>
	<li>the font is <a href="http://www.google.com/webfonts/family?family=Unkempt&subset=latin">Unkempt</a> from google web fonts.</li>
	<li>currently hosting <strong>{{count}}</strong> images.</li>

	</ul>
</div>

{% endblock %}

