<!DOCTYPE html>

<html lang="en">
  <head>
    <title>sketch</title>
    <meta charset="UTF-8" />
    <meta name="description" content="A simple sketching and sketch sharing web app." />
    <meta name="keywords" content="sketch, drawing, share, paste, django, canvas, html5, javascript, jquery" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Unkempt" type="text/css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css.css" type="text/css" />
    <link rel="icon" type="image/png" href="{{MEDIA_URL}}favicon.png" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
  </head>

  <body>

    <div id="header">
      <div id="heading">
        <a href="/">
        <img src="{{MEDIA_URL}}logo.png" alt="logo" />
        <h1>sketch</h1>
        </a>
      </div>
      <div id="topmenu">
        {% block navigation %}
        <a href="/"> new </a> |
        <a href="/browse/"> browse </a> | 
        <a href="/about/"> about </a>
        {% endblock %}
      </div>
    </div>

    <div id="content">
      {% if messages %}
      <div id="messages">
        {% for m in messages %}
        <p{% if m.tags %} class="{{ m.tags }}"{% endif %}>{{m}}</p>
        {% endfor %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
