<!DOCTYPE html>

<html lang="en">
  <head>
    <title>sketch</title>
    <meta charset="UTF-8" />
    <meta name="description" content="A simple sketching and sketch sharing web app." />
    <meta name="keywords" content="sketch, drawing, share, paste, django, canvas, html5, javascript, jquery" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Unkempt" type="text/css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme }}" type="text/css" />
    <link rel="icon" type="image/png" href="{{MEDIA_URL}}favicon.png" />
  </head>

  <body>

    <div id="header">
      <div id="heading">
        <a href="/">
        <img src="{{MEDIA_URL}}logo.png" alt="logo" />
        <h1>sketch</h1>
        </a>
      </div>
      <div id="topmenu" style="text-align: right">
        {% block navigation %}
        <a href="/"> new </a> |
        <a href="{% url sketch.views.browse %}"> browse </a> | 
        <a href="{% url sketch.views.about %}"> about </a>
        {% endblock %}
        <br/>
        <span style="font-size: small;text-align: right;">
        theme: 
        <a href="/?t=light">light</a> | 
        <a href="/?t=dark">dark</a>
        </span>
      </div>
    </div>

    <div id="content">
      {% if messages %}
      <div id="messages">
        {% for m in messages %}
        <p{% if m.tags %} class="{{ m.tags }}"{% endif %}>{{m}}</p>
        {% endfor %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
