{% extends "base.html" %}

{% block navigation %}
            <a href="/"> new </a> | 
            <strong> browse </strong> | 
            <a href="/about/"> about </a>
{% endblock %}

{% block content %}
<p> showing sketches <strong> {{ pages.start_index }} - {{ pages.end_index }} </strong></p>
<div id="thumb-grid">

	{% for sketch in pages.object_list %}
	<a href="{{sketch.get_absolute_url}}">
		{% if sketch.image %}
			<img class="thumb" src="{{sketch.image.url}}" title="sketch id: {{sketch.pk}}"  alt="sketch id: {{sketch.pk}}" />
		{% else %}
			<img class="thumb" src="{{MEDIA_URL}}empty.png" alt="no image found" />
		{% endif %}
	</a>
	{% empty %}
	<p class="error">no sketches found.</p>
	{% endfor %}
</div>

<div id="bottom-nav">
	<div class="left"> <a href="/">back to front page</a> </div>
	<div class="right">
		{% if pages.has_previous %}
		<a href="?page={{ pages.previous_page_number }}">&lt;- newer</a> |
		{% endif %}
		page {{ pages.number }} of {{ pages.paginator.num_pages }}
		{% if pages.has_next %}
		| <a href="?page={{ pages.next_page_number }}">older -&gt;</a>
		{% endif %}
	</div>
</div>

{% endblock %}

