{% extends "base.html" %}

{% block content %}
<p> showing sketch id <strong>{{ sketch.pk }}</strong></p>
<div id="container">
{% if sketch %}
	{% if sketch.image %}
	<img class="drawing" src="{{sketch.image.url}}" alt="sketch id: {{sketch.pk}}" width="{{sketch.image.width}}" height="{{sketch.image.height}}" />
	{% else %}
		<p class="error">sketch has no image.</p>
	{% endif %}
{% else %}
	<p class="error">sketch not found.</p>
{% endif %}
</p>

</div>

{% if sketch %}
<p>created {{sketch.humanize_timediff}}</p>
<p><a href="/delete/{{sketch.pk}}/">delete this sketch</a></p>
{% endif %}

<div> <a href="/">back to front page</a> </div>
{% endblock %}

