{% extends "base.html" %}

{% block content %}
<div id="image-container">

	<p> showing sketches <strong> {{ sketches.start_index }} - {{ sketches.end_index }} </strong></p>

	{% for sketch in sketches.object_list %}
	<a href="/{{sketch.id}}">
		{% if sketch.image %}
			<img class="drawing resize" src="{{sketch.image.url}}" title="sketch id: {{sketch.id}}"  alt="sketch id: {{sketch.id}}" />
		{% else %}
			<img class="drawing resize" src="{{MEDIA_URL}}empty.png" alt="no image found" />
		{% endif %}
	</a>
	{% empty %}
	<p class="error">no sketches found.</p>
	{% endfor %}
</div>

<div style="float: left"> <a href="/">back to front page</a> </div>
<div id="page-nav" style="float: right">
				{% if sketches.has_previous %}
				<span style=""><a href="?page={{ sketches.previous_page_number }}">&lt;- newer</a> | </span>
				{% endif %}
				page {{ sketches.number }} of {{ sketches.paginator.num_pages }}
				{% if sketches.has_next %}
				<span> | <a href="?page={{ sketches.next_page_number }}">older -&gt;</a></span>
				{% endif %}
</div>

{% endblock %}

