{% extends "base.html" %}

{% block content %}
<div id="image-container">
{% if sketch %}
<p> showing sketch id <strong>{{ sketch.id }}</strong></p>
	{% if sketch.image %}
		<img class="drawing" src="{{sketch.image.url}}" alt="id: {{sketch.id}}" />
	{% else %}
	<!--<img src="http://forums.petrisimolin.com/media/1079/fonzie.jpg" />-->
	<p class="error">sketch has no image.</p>
	{% endif %}
{% else %}
	<p class="error">sketch not found.</p>
{% endif %}
</p>

</div>

<p> <a href="/">back to front page</a> </p>
{% endblock %}

